<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
       
      </nav>
<div class="container register-form">
    
    <form id="registration-form" class="form" method="POST">

        <div class="form-content">
            <div class="row">
                
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" name="names" placeholder="Your Full Names "  required/>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" name="email" placeholder="Your email" required />
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" name="reg_no" placeholder="Registration number" required />
                    </div>
                
                
                    <div class="form-group col-md-6">
                        <select class="form-select form-control" name="faculty" aria-label="Default select example">
                            <option class="form-control" selected>Open this select menu</option>
                            <option class="form-control" value="FOBE">Business and Economics</option>
                            <option class="form-control" value="ENG">Engineering</option>
                            <option class="form-control" value="FOST">Science and Technology</option>
                            <option class="form-control" value="CIT">Information and Technology</option>
                            <option class="form-control" value="FAMECO">Media and communication</option>
                            <option class="form-control" value="MED">Medicine</option>
                          </select>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" name="phonenumber" placeholder="Phone Number *" required />
                    </div>
                    
                
                
                    <div class="form-group col-md-6">
                        <input type="date" class="form-control" pattern="\d{4}-\d{2}-\d{2}" name="DOB" placeholder="Year of study *" required />
                    </div>
                
                
                

                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" name="course" placeholder="course " required />
                    </div>
              
                    
            </div>
            <button class="btnSubmit">Submit</button>
        </div>
        
    </form>
</div>


<script src="{{ url_for('static', filename='js/sendForm.js') }}"></script>
</body>
</html>